.brand-option {
    max-height: 100px;
    display: flex;
    flex-wrap: row wrap; 
}

.brand-img-holder {
    margin: 5px;
}

.brand-img-holder img {
    width: 50px;
    height: 50px;
} 

.brand-name-holder {
    height: 100%;
    flex-grow: 1;
    padding-left: 5px
}

.brand-name {
    /* position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.brand-option:hover {
    background-color: aliceblue;
}


.tag-container {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;

    border-radius: 10px;
    border-color: darkgray;
    border-style: solid;
    padding:5px;
}

.tag-base {
    border-radius: 10px;
    height: 25px;
    background-color: darkturquoise;
    display: flex;
    flex-direction: row;
}

.tag-base > p {
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
}

.tag-x-container {
    height:25px;
    width: 25px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.tag-x-container > p {
    margin: auto;
    margin-left: 8px;
}

.tag-x-container:hover {
    background-color: red;
}
