<app-duo-content-component [mainText]="'About ' + getProfileDisplayName()">
    <div id="right-content" class="right-content">
        <div appElementItemDirective style="padding: 10px">
            <p>
                {{ profileService.presentProfile()?.aboutMe }} 
            </p>
        </div>
        <app-tab-component [tabs]="tabOptions" (tabSelect)="curTab.set($event)">
        @if(curTab() == 'edu'){

            <div appElementContainerDirective>
                @if(profileService.searchedProfile == undefined){
                    <button class="btn btn-primary" (click)="prepNewEducation()">Add Education</button>
                }
                

            @for(edu of (profileService.searchedProfile() || profileService.activeProfile())?.education; track edu){
                <div appElementItemDirective (click)="showEducation.set(edu); eduIndex.set($index)">
                    <p><b>{{edu.schoolName}}</b> {{edu.start.month}} {{edu.start.year}} - {{edu.graduation.month}} {{edu.graduation.year}}</p>
                </div>
            }
            </div>

        } @else if(curTab() == 'fav'){

        } @else if (curTab() == 'work') {
            <div appElementContainerDirective>
                @if(profileService.searchedProfile == undefined){
                    <button class="btn btn-primary" (click)="prepNewPerspective()">Add Work Perspective</button>
                }

                @for(per of (profileService.searchedProfile() || profileService.activeProfile())?.workExperiences; track per){
                <div appElementItemDirective (click)="setNewWorkPerspective(per)">
                    <p><b>Perspectives: </b> 
                    
                    @for(p of per.perspective; track p){
                        @if($index){
                            <span>, </span>
                        }
                        <span>{{ p }}</span>
                    }
                    
                    </p>
                </div>
                }

            </div>
        } @else if (curTab() == 'conn'){
            <app-connection-list-component />
        }
        </app-tab-component>

    </div>


    <div>
        @if(connectionStatus() == 'SELF_PROFILE' || connectionStatus() == 'CONNECTED'){
            <div class="item-button" appElementItemDirective (click)="prepareNewPosting(undefined)">
                <p>Post to Profile</p>
            </div>
        }


        @for(posting of postingList(); track posting){
            <app-content-component 
                [content]="posting"
                (onPrepReply)="prepareNewPosting($event)"
            />
        }

        <app-bottom-ticker-component
            [stillMore]="!outOfPosts()"
            (onAppear)="retrievePosts(false)"
        />
    </div>
</app-duo-content-component>

@if(showEducation()) {
    <app-popup-component (onClose)="showEducation.set(undefined)">
        <app-edit-education 
        [isSelf]="profileService.searchedProfile == undefined"
            [(education)]="showEducation" 
            (onUpdate)="updateEducation(true)"
            (onDelete)="updateEducation(false)"
        ></app-edit-education>
    </app-popup-component>
}

@if(showWorkPerspective().show){
    <app-popup-component (onClose)="setNewWorkPerspective(undefined)">
        <app-work-perspective-component
            [(perspective)]="showWorkPerspective().workPerspective"
            [isOwned]="profileService.searchedProfile == undefined"
            (onUpdate)="updateWorkExperience(showWorkPerspective().workPerspective,false)"
            (onDelete)="updateWorkExperience(showWorkPerspective().workPerspective, true)"
        />
    </app-popup-component>
}

<app-content-editor-component
    [edit]="edit()"
    [parent]="parent()"
    (onPosted)="handlePostResult($event)"
/>