<app-duo-content-component [mainText]="'About ' + getProfileDisplayName()">
    <div class="right-content">
        <div appElementItem style="padding: 10px">
            <p>
                {{ profileService.presentProfile()?.aboutMe }} 
            </p>
        </div>
                <app-tab-component [tabs]="tabOptions" (tabSelect)="curTab = $event">
        @if(curTab == 'edu'){

            <div appElementContainer>
                @if(profileService.searchedProfile == undefined){
                    <button class="btn btn-primary" (click)="prepNewEducation()">Add Education</button>
                }
                

            @for(edu of (profileService.searchedProfile() || profileService.activeProfile())?.education; track edu){
                <div appElementItem (click)="showEducation = edu; eduIndex = $index">
                    <p><b>{{edu.schoolName}}</b> {{edu.start.month}} {{edu.start.year}} - {{edu.graduation.month}} {{edu.graduation.year}}</p>
                </div>
            }
            </div>

        } @else if(curTab == 'fav'){

        } @else if (curTab == 'work') {
            <div appElementContainer>
                @if(profileService.searchedProfile == undefined){
                    <button class="btn btn-primary" (click)="prepNewPerspective()">Add Work Perspective</button>
                }

                @for(per of (profileService.searchedProfile() || profileService.activeProfile())?.workExperiences; track per){
                <div appElementItem (click)="showWorkPerspective = per; workIsNew = false">
                    <p><b>Perspectives: </b> 
                    
                    @for(p of per.perspective; track p){
                        @if($index){
                            <span>, </span>
                        }
                        <span>{{ p }}</span>
                    }
                    
                    </p>
                </div>
                }

            </div>
        } @else if (curTab == 'conn'){
            <app-connection-list-component />
        }
        </app-tab-component>

    </div>


    <div>
        @if(connectionStatus == 'SELF_PROFILE' || connectionStatus == 'CONNECTED'){
            <div class="item-button" appElementItem (click)="prepareNewPosting(undefined)">
                <p>Post to Profile</p>
            </div>
        }


        @for(posting of postingList; track posting){
            <app-content-component 
                [content]="posting"
                (onPrepReply)="prepareNewPosting($event)"
            />
        }

        <app-bottom-ticker-component
            [stillMore]="!outOfPosts"
            (onAppear)="retrievePosts(false)"
        />
    </div>
</app-duo-content-component>

@if(showEducation) {
    <app-popup-component (onClose)="showEducation = undefined">
        <app-edit-education 
        [isSelf]="profileService.searchedProfile == undefined"
            [(education)]="showEducation" 
            (onUpdate)="updateEducation(true)"
            (onDelete)="updateEducation(false)"
        ></app-edit-education>
    </app-popup-component>
}

@if(showWorkPerspective){
    <app-popup-component (onClose)="showWorkPerspective = undefined">
        <app-work-perspective-component
            [(perspective)]="showWorkPerspective"
            [isOwned]="profileService.searchedProfile == undefined"
            (onUpdate)="updateWorkExperience(showWorkPerspective, false)"
            (onDelete)="updateWorkExperience(showWorkPerspective, true)"
        />
    </app-popup-component>
}

<app-content-editor-component
    [edit]="edit"
    [parent]="parent"
    (onPosted)="handlePostResult($event)"
/>